body {
    font-family: "Times New Roman";
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: darkred;
}

li {
    margin-bottom: 10px;
}

.event-card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}

.event-card:hover {
    transform: scale(1.02);
}
